# Street Flooding Complaints (SFC)

## Source: 311 Service Requests from 2010 to Present

### About

| Key | Value |
| --- | ----- |
| URL | https://data.cityofnewyork.us/Social-Services/311-Service-Requests-from-2010-to-Present/erm2-nwe9 |
| Description | All 311 Service Requests from 2010 to present. |
| Updated | 2023-02-15 |
| Update Frequency | Daily |
| Views | 440K+ |
| Data Provided by | [311](https://data.cityofnewyork.us/browse?Dataset-Information_Agency=311), DoITT |
| Category | [Social Services](https://data.cityofnewyork.us/browse?category=Social+Services) |
| API Docs | https://dev.socrata.com/foundry/data.cityofnewyork.us/erm2-nwe9 |
| API Endpoints<br />(sample size: `10`) | [JSON](https://data.cityofnewyork.us/resource/erm2-nwe9.json?$limit=10&descriptor=Street%20Flooding%20(SJ))<br>[GeoJSON](https://data.cityofnewyork.us/resource/erm2-nwe9.geojson?$limit=10&descriptor=Street%20Flooding%20(SJ))<br>[CSV](https://data.cityofnewyork.us/resource/erm2-nwe9.csv?$limit=10&descriptor=Street%20Flooding%20(SJ)) |
| Data Dictionary | [311_SR_Data_Dictionary_2018.xlsx](https://data.cityofnewyork.us/api/views/erm2-nwe9/files/68b25fbb-9d30-486a-a571-7115f54911cd?download=true&filename=311_SR_Data_Dictionary_2018.xlsx)
| `complaint_type` | Sewer |
| `descriptor` | Street Flooding (SJ) |

## Import Libraries

### Built-in Libraries

In [1]:
# import json
import os
from datetime import datetime as dt
from pathlib import Path

### External Libraries

In [2]:
import pyproj
import geopandas as gpd
import pandas as pd
# import geojson as gj

### Define Variables

Default limit = 1000

In [3]:
%%script echo skip
NYC_OPEN_DATA_311_API_JSON = 'https://data.cityofnewyork.us/resource/erm2-nwe9.json?descriptor=Street%20Flooding%20(SJ)'
NYC_OPEN_DATA_311_API_GEOJSON = 'https://data.cityofnewyork.us/resource/erm2-nwe9.geojson?descriptor=Street%20Flooding%20(SJ)'
NYC_OPEN_DATA_311_API_CSV = 'https://data.cityofnewyork.us/resource/erm2-nwe9.csv?descriptor=Street%20Flooding%20(SJ)'

skip

### Download 311 Service Complaints for `Street Flooding (SJ)`

#### Save `.geojson` data locally

In [4]:
!python nycstreetflood.py

Downloading Latest Street Flooding Dataset...

Street flooding dataset has already been download for 2023-02-24.

Download Complete

#### Define prefix for output variable

In [5]:
%%script echo skip
output_prefix = 'data/street_flood-complaints.'

skip

#### Save `.json` data locally

In [6]:
%%script echo skip
street_flooding_jdf = pd.read_json(NYC_OPEN_DATA_311_API_JSON)
street_flooding_jdf.to_json(output_prefix + 'json')

skip

### Save `.csv` data locally

In [7]:
%%script echo skip
street_flooding_cdf = pd.read_csv(NYC_OPEN_DATA_311_API_CSV)
street_flooding_cdf.to_csv(output_prefix + 'csv')

skip

### View Street Flooding Metadata

In [8]:
nyc_street_flooding_geojson = 'data/street-flood-complaints_rows-all.geojson'
street_flooding_gdf = gpd.read_file(nyc_street_flooding_geojson)

In [9]:
street_flooding_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 35040 entries, 0 to 35039
Data columns (total 45 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   location_state                  34033 non-null  object
 1   facility_type                   23296 non-null  object
 2   intersection_street_2           11298 non-null  object
 3   city                            34175 non-null  object
 4   location_zip                    34033 non-null  object
 5   park_borough                    35036 non-null  object
 6   latitude                        34033 non-null  object
 7   road_ramp                       0 non-null      float64
 8   created_date                    35040 non-null  datetime64[ns]
 9   agency                          35040 non-null  object
 10  park_facility_name              35040 non-null  object
 11  location_address                34033 non-null  object
 12  agency_name                     35040 non-null  object
 13  descriptor                      35040 non-null  object
 14  bbl                             21692 non-null  object
 15  location_city                   34033 non-null  object
 16  open_data_channel_type          35040 non-null  object
 17  cross_street_2                  30060 non-null  object
 18  bridge_highway_direction        0 non-null      float64
 19  longitude                       34033 non-null  object
 20  bridge_highway_segment          0 non-null      float64
 21  street_name                     23794 non-null  object
 22  incident_address                23794 non-null  object
 23  address_type                    35034 non-null  object
 24  incident_zip                    34171 non-null  object
 25  unique_key                      35040 non-null  object
 26  complaint_type                  35040 non-null  object
 27  y_coordinate_state_plane        34033 non-null  object
 28  status                          35040 non-null  object
 29  bridge_highway_name             0 non-null      float64
 30  location_type                   0 non-null      float64
 31  due_date                        1 non-null      datetime64[ns]
 32  taxi_company_borough            0 non-null      float64
 33  taxi_pick_up_location           0 non-null      float64
 34  x_coordinate_state_plane        34033 non-null  object
 35  resolution_description          35012 non-null  object
 36  community_board                 35036 non-null  object
 37  resolution_action_updated_date  35020 non-null  datetime64[ns]
 38  intersection_street_1           11298 non-null  object
 39  closed_date                     35010 non-null  datetime64[ns]
 40  vehicle_type                    0 non-null      float64
 41  cross_street_1                  30070 non-null  object
 42  borough                         35036 non-null  object
 43  landmark                        0 non-null      float64
 44  geometry                        34033 non-null  geometry
dtypes: datetime64[ns](4), float64(9), geometry(1), object(31)
memory usage: 12.0+ MB

#### Coordinate Reference System (CRS)

In [10]:
street_flooding_gdf.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- undefined
Datum: World Geodetic System 1984
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

### Preview Data

In [11]:
street_flooding_gdf[['created_date', 'borough', 'bbl', 'geometry']].head(10)

         created_date        borough         bbl                    geometry
0 2010-01-02 08:26:00       BROOKLYN  3089000064  POINT (-73.92178 40.58778)
1 2010-01-02 12:00:00  STATEN ISLAND         NaN  POINT (-74.14329 40.63866)
2 2010-01-02 17:45:00         QUEENS  4120050012  POINT (-73.79530 40.68140)
3 2010-01-04 16:47:00         QUEENS  4106210008  POINT (-73.73843 40.72006)
4 2010-01-05 10:37:00       BROOKLYN  3086550021  POINT (-73.90969 40.61250)
5 2010-01-06 19:26:00       BROOKLYN  3029270015  POINT (-73.93297 40.71584)
6 2010-01-06 08:24:00         QUEENS  4119960122  POINT (-73.80255 40.67925)
7 2010-01-06 09:17:00  STATEN ISLAND  5040740044  POINT (-74.10646 40.55866)
8 2010-01-06 06:00:00         QUEENS  4030030044  POINT (-73.87694 40.71804)
9 2010-01-07 10:16:00  STATEN ISLAND  5014850078  POINT (-74.14943 40.61979)

In [12]:
street_flooding_gdf[['created_date', 'borough', 'bbl', 'geometry']].tail(10)

,created_date,borough,bbl,geometry
35030,2023-02-21 18:59:00,BROOKLYN,3068850023,POINT (-73.98458 40.59320)
35031,2023-02-21 14:02:00,QUEENS,4160350046,POINT (-73.79850 40.59643)
35032,2023-02-22 16:50:00,STATEN ISLAND,NaN,POINT (-74.12709 40.56090)
35033,2023-02-22 14:29:00,BROOKLYN,NaN,POINT (-73.91557 40.65839)
35034,2023-02-22 23:11:00,BROOKLYN,3071180035,POINT (-73.97940 40.59505)
35035,2023-02-22 09:44:00,BROOKLYN,3013940054,POINT (-73.93773 40.66820)
35036,2023-02-22 22:59:00,QUEENS,4021770036,POINT (-73.84646 40.72775)
35037,2023-02-22 19:29:00,BROOKLYN,NaN,POINT (-73.94631 40.70021)
35038,2023-02-22 07:26:00,STATEN ISLAND,5002250061,POINT (-74.12005 40.62831)
35039,2023-02-22 19:02:00,BRONX,2057520275,POINT (-73.91923 40.88493)

## References

### Python Standard Library

#### Format

[How to pad zeros to a String in Python | Python Engineer](https://www.python-engineer.com/posts/pad-zeros-string/)  
Contributer: [@Patrick Loeber](https://patloeber.com)

#### Date and Time

[datetime — Basic date and time types | Python > Documentation](https://docs.python.org/3/library/datetime.html)

#### File & Path I/O

[pathlib — Object-oriented filesystem paths | Python > Documentation](https://docs.python.org/3/library/pathlib.html)

### GeoPandas

#### User Guide

[Reading and Writing Files | GoePandas - Documentation - User Guide](https://geopandas.org/en/stable/docs/user_guide/io.html)

[Merging Data | GeoPandas - Documentation - User Guide](https://geopandas.org/en/stable/docs/user_guide/mergingdata.html)

#### API Reference

[geopandas.GeoDataFrame.to_file | GeoPandas API reference](https://geopandas.org/en/stable/docs/reference/api/geopandas.GeoDataFrame.to_file.html)

### Jupyter Notebook

#### Magic (%%) Commands

[How to (intermittently) skip certain cells when running IPython notebook? | stackoverflow](https://stackoverflow.com/questions/19309287/how-to-intermittently-skip-certain-cells-when-running-ipython-notebook)  
Contributor: [@Mark](https://stackoverflow.com/users/420385/mark)

### pyproj

[On fresh Conda installation of PyProj: pyproj unable to set database path. _pyproj_global_context_initialize()](https://stackoverflow.com/questions/69630630/on-fresh-conda-installation-of-pyproj-pyproj-unable-to-set-database-path-pypr)

#### Fix

Un-install pyproj

`conda remove --force pyproj`

Re-install pyproj via `pip` instead of `conda`

`pip install pyproj`

### Socrata API

[Paging through Data | Socrata - Documentation](https://dev.socrata.com/docs/paging.html)