# Clean Data

## Import Libraries

### External Libraries

In [1]:
import geopandas as gpd

### External Libraries

## Define Variables

In [2]:
nyc_street_flooding_input = 'data/street-flood-complaints_rows-all.geojson'
nyc_street_flooding_output = 'data/clean_street-flood-complaints_rows-all.geojson'

## Get Original Data

In [3]:
street_flooding_gdf = gpd.read_file(nyc_street_flooding_input)

## Set `unique_key` as Index

In [4]:
street_flooding_gdf.set_index('unique_key', inplace=True)

## Remove Rows With Missing `geometry`

In [5]:
street_flooding_gdf.dropna(subset = ['geometry'], inplace = True)

## Preview Street Flooding Data

In [6]:
street_flooding_gdf[['created_date', 'borough', 'bbl', 'geometry']].head(10)

,created_date,borough,bbl,geometry
unique_key,,,,
15639934,2010-01-02 08:26:00,BROOKLYN,3089000064,POINT (-73.92178 40.58778)
15640572,2010-01-02 12:00:00,STATEN ISLAND,NaN,POINT (-74.14329 40.63866)
15640664,2010-01-02 17:45:00,QUEENS,4120050012,POINT (-73.79530 40.68140)
15655327,2010-01-04 16:47:00,QUEENS,4106210008,POINT (-73.73843 40.72006)
15668560,2010-01-05 10:37:00,BROOKLYN,3086550021,POINT (-73.90969 40.61250)
15674300,2010-01-06 19:26:00,BROOKLYN,3029270015,POINT (-73.93297 40.71584)
15674896,2010-01-06 08:24:00,QUEENS,4119960122,POINT (-73.80255 40.67925)
15674924,2010-01-06 09:17:00,STATEN ISLAND,5040740044,POINT (-74.10646 40.55866)
15675505,2010-01-06 06:00:00,QUEENS,4030030044,POINT (-73.87694 40.71804)
15683503,2010-01-07 10:16:00,STATEN ISLAND,5014850078,POINT (-74.14943 40.61979)

In [7]:
street_flooding_gdf[['created_date', 'borough', 'bbl', 'geometry']].tail(10)

,created_date,borough,bbl,geometry
unique_key,,,,
56871278,2023-02-22 09:44:00,BROOKLYN,3013940054,POINT (-73.93773 40.66820)
56871467,2023-02-22 22:59:00,QUEENS,4021770036,POINT (-73.84646 40.72775)
56872479,2023-02-22 19:29:00,BROOKLYN,NaN,POINT (-73.94631 40.70021)
56872594,2023-02-22 07:26:00,STATEN ISLAND,5002250061,POINT (-74.12005 40.62831)
56875787,2023-02-23 17:26:00,QUEENS,4137330024,POINT (-73.74748 40.65428)
56876459,2023-02-23 13:44:00,BROOKLYN,3003890043,POINT (-73.98066 40.68211)
56878750,2023-02-23 08:29:00,QUEENS,NaN,POINT (-73.75804 40.73382)
56879833,2023-02-23 15:23:00,QUEENS,4137320024,POINT (-73.74717 40.65495)
56881026,2023-02-23 10:56:00,QUEENS,4142340587,POINT (-73.83003 40.65729)
56883191,2023-02-23 13:23:00,BROOKLYN,3080520059,POINT (-73.90364 40.63474)

## Save Clean Dataset

In [8]:
street_flooding_gdf.to_file(nyc_street_flooding_output, driver='GeoJSON')